@charset "utf-8";
/* CSS Document */
h1 {
	color:#039;
	text-align:center;
}
h3 {
	width: 600px;
	color:red;
}
body {
	background-color:#FFC;
	font-weight:bold;
	color:#03C;
	font-size:20px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
p#error {
	font-weight:bold;
	color:red;
	text-align:center;
}
input.mail {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color: #FCF; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 400px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 0px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:24px;
	font-weight:bold;
}
input.in {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color: #FCF; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
/*	width: 400px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 2px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:24px;
	font-weight:bold;
}
input.submit {
	line-height: 26px; /* 文字の高さ */
	font-size:24px;
	font-weight:bold;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
input.pw {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color:#FF6; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 400px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 0px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:24px;
	font-weight:bold;
	color:#F00;
}
span#male {
	background-color:white; /* 背景 */
	border: 2px solid #999999; /* 罫線 */
	width: 100px; /* 幅 */
	padding: 0px; /* 余白 */
	height: 28px; /* 高さ */
	font-size:22px;
	font-weight:bold;
	padding: 3px;
	color:blue;
}
span#female {
	background-color:white; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 100px; /* 幅 */
	padding: 0px; /* 余白 */
	height: 28px; /* 高さ */
	font-size:22px;
	font-weight:bold;
	padding:3px;
	color:red;
}	
select#birth_year {
	background-color:blue; /* 背景 */
	border: 2px solid #999999; /* 罫線 */
	width: 90px; /* 幅 */
	padding: 2px; /* 余白 */
	height: 28px; /* 高さ */
	font-size:20px;
	font-weight:bold;
	color:white;
}	
.hp {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color: #FCF; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 600px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 2px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 60px; /* 高さ */
	font-size:24px;
	font-weight:bold;
}
select#country_code{
	background-color: #777; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 300px; /* 幅 */
	padding: 0px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:20px;
	font-weight:bold;
	padding:2px;
	color:white;
}	
select#job_kind{
	background-color: #900; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 300px; /* 幅 */
	padding: 0px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:20px;
	font-weight:bold;
	padding:2px;
	color:white;
}	
select#clue {
	line-height: 26px; /* 文字の高さ */
	background-color:red; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 450px; /* 幅 */
	padding: 0px; /* 余白 */
	height: 24px; /* 高さ */
	font-size:16px;
	font-weight:bold;
	color:white;
}
table {
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
tr{
	height:20px;
}
div#alert{
	width:80%;
	text-align:left;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	color:red;
	margin-left:auto;
	margin-right:auto;
}
div#main{
	width:1000px;
	text-align:center
	margin-left:auto;
	margin-right:auto;
}
.watermark {
	color: white;
}

#main {width: 1000px; margin-left:auto; margin-right:auto;}
#submit_btn {font-size:24px;font-weight:bold;background-color:#0F9; color:red;}
td {text-align:left;}
td.check {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color:rgba(194,239,168,1.00); /* 背景 */
	border: 1px solid #999999; /* 罫線 */
/*	width: 400px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 2px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 26px; /* 高さ */
	font-size:22px;
	font-weight:bold;
}