/* CSS Document */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.white {color:white; }
.red {color:red;}
.blue {color:blue;}
a:hover {color:red;}
.bold {font-weight:bold;}
th {text-align:center;}
td {text-align:center;}
td.left {text-align:left; padding-left:4px;font-weight:bold;}
td.large-red {color:red; font-style:italic; font-size:18px; font-weight:bold;}
.green {color:green; font-weight:bold;}

td.money {font-weight:bold;color:red;}
td.white {font-weight:bold; font-style:italic;color:white;}
th.holiday {background-color:pink; color:red;}
.holiday {background-color:pink; color:red;}
.m {background-color:hsla(182,95%,60%,0.69);}
.a {background-color:hsla(144,98%,24%,0.64);}
div.block {width:40px; height:20px; border:2px solid black; float:left;}
div.space {width:80px; height:20px; float:left;}
.black {color:black; text-align:center; font-weight:bold;}
.font-large {font-size:20px; font-weight:bold; width:60%; margin:auto auto;}
.font-small {font-size:18px; font-weight:bold; font-style:italic;}
.font-red {color:red;}
table.border-thick {border:2px solid blue;}



